<routes xmlns="http://camel.apache.org/schema/spring">
    <route id="message-reader">
        <from uri="activemq:email-queue"/>
        <log message="Message received: ${body}"/>
        <to uri="smtp://SMACC-Test@smtp.mandrillapp.com?password={{camel.secondary.mail.password}}&amp;mail.smtp.auth=true&amp;mail.smtp.starttls.enable=true&amp;contentType=text/html"/>
        <log message="Email sent through secondary server: ${body}"/>
        <onException>
            <exception>java.lang.Exception</exception>
            <handled>
                <constant>true</constant>
            </handled>
            <to uri="smtp://apikey@smtp.sendgrid.net?password={{camel.main.mail.password}}&amp;mail.smtp.auth=true&amp;mail.smtp.starttls.enable=true&amp;contentType=text/html"/>
            <log message="Email sent through main server: ${body}"/>
        </onException>
    </route>
</routes>